<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<typeAlias type="com.lib.fin.approval.ApprovalDocVO" alias="ApprovalDocVO"/>
	<typeAlias type="com.lib.fin.approval.ApprovalFileVO" alias="ApprovalFileVO"/>
	<typeAlias type="com.lib.fin.approval.ApprovalHisVO" alias="ApprovalHisVO"/>
	<typeAlias type="com.lib.fin.member.MemberVO" alias="MemberVO"/>	
	<typeAlias type="com.lib.fin.member.ComVO" alias="ComVO"/>	
	<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>	  