<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<typeAlias type="com.lib.fin.approval.ApprovalDocVO" alias="ApprovalDocVO"/>
	<typeAlias type="com.lib.fin.approval.ApprovalFileVO" alias="ApprovalFileVO"/>

	<typeAlias alias="ScheduleVO" type="com.lib.fin.schedule.ScheduleVO"/>
	<typeAlias type="com.lib.fin.book.BookVO" alias="BookVO"/>
	<typeAlias type="com.lib.fin.facility.FacilityVO" alias="FacilityVO"/>
	<typeAlias type="com.lib.fin.reservation.ReservationVO" alias="ReservationVO"/>
		
	<typeAlias type="com.lib.fin.approval.ApprovalHisVO" alias="ApprovalHisVO"/>
	<typeAlias type="com.lib.fin.commons.Pager" alias="Pager"/>
	<typeAlias type="com.lib.fin.member.MemberVO" alias="MemberVO"/>	
	<typeAlias type="com.lib.fin.member.MemberFileVO" alias="MemberFileVO"/>	
	<typeAlias type="com.lib.fin.member.ComVO" alias="ComVO"/>
	<typeAlias type="com.lib.fin.member.DeptVO" alias="DeptVO"/>		
	<typeAlias type="java.util.List" alias="List"/>
	<typeAlias type="java.lang.Long" alias="Long"/>
	<typeAlias type="com.lib.fin.board.BoardVO" alias="BoardVO"/>
	<typeAlias type="com.lib.fin.board.announcement.AnnouncementVO" alias="AnnouncementVO"/>
	<typeAlias type="com.lib.fin.board.comment.CommentVO" alias="CommentVO"/>	
	<typeAlias type="com.lib.fin.board.community.CommunityVO" alias="CommunityVO"/>
	<typeAlias type="com.lib.fin.attendance.AttendanceVO" alias="AttendanceVO" />
	<typeAlias type="com.lib.fin.board.LikeVO"  alias="LikeVO"/>

	</typeAliases>
</configuration>	  