<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.lib.fin.board.announcement.AnnouncementDAO">
	<sql id="searchSql">
		WHERE BOARD_NO >0 AND USE_YN = 'Y' AND BOARD_TYPE = 'A'
		<if test='kind == "W"'>
			AND REG_ID LIKE CONCAT("%", #{search}, "%")
		</if>
		<if test='kind == "N"'>
			AND BOARD_TITLE LIKE CONCAT("%", #{search}, "%")
		</if>
	</sql>
	
	
	<resultMap id="boardFileVOResultMap" type="com.lib.fin.board.BoardFileVO">
    	<result column="FILE_SAVENAME" property="file_name"/>
	</resultMap>


	<select id="getList" resultType="AnnouncementVO"
		parameterType="Pager">
		SELECT * FROM
		( SELECT *, ROW_NUMBER() OVER (ORDER BY BOARD_NO DESC) AS
		ROWNUM
		FROM
		BOARD_BASE
		<include refid="searchSql"></include>
		) T
		WHERE T.ROWNUM BETWEEN #{startRow} AND #{lastRow}
	</select>
	<!-- FileDetail query -->
	<select id="getFileDetail" parameterType="BoardFileVO" resultMap="boardFileVOResultMap">
		SELECT * FROM
		FILE_BASE WHERE
		BOARD_NO = #{board_no} AND USE_YN = 'Y'
	</select>

	<select id="getFileInfo" parameterType="BoardFileVO" resultMap="boardFileVOResultMap">
		SELECT * FROM
		FILE_BASE WHERE
		FILE_NO = #{file_no} AND USE_YN = 'Y'
	</select>


	<select id="getTotal" resultType="Long" parameterType="Pager">
		SELECT COUNT(*) FROM BOARD_BASE
		<include refid="searchSql"></include>
	</select>


	<insert id="addWriting" parameterType="AnnouncementVO">
		INSERT INTO BOARD_BASE
		(BOARD_TITLE,BOARD_CONTENT,BOARD_TYPE,BOARD_KIND,BOARD_VIEWS,BOARD_LIKE,REG_ID,MOD_ID,REG_DATE,MOD_DATE,USE_YN)
		VALUES
		(#{board_title},#{board_content},'A','C',0,0,#{reg_id},#{reg_id},NOW(),NOW(),'Y')
	</insert>

	<select id="getDetail">
		SELECT * FROM BOARD_BASE WHERE BOARD_NO = #{board_no}
	</select>

	<insert id="addComment" parameterType="CommentVO">
		INSERT INTO COMMENT_BASE
		(BOARD_NO, COMMENT_CONTENT, REG_ID, MOD_ID,
		REG_DATE, MOD_DATE, USE_YN)
		VALUES (#{board_no}, #{comment_content}, #{reg_id}, #{reg_id}, NOW(),
		NOW(),'Y')
	</insert>
	
	<select id="searchMembersByName" parameterType="String" resultType="MemberVO">
	    SELECT * FROM MEM_INFO WHERE NAME LIKE CONCAT("%", #{name}, "%")
	</select>

	<select id="getComments" parameterType="Long"
		resultType="CommentVO">
		SELECT * FROM COMMENT_BASE WHERE BOARD_NO = #{board_no}
		ORDER BY COMMENT_NO DESC
	</select>

	<update id="likeAnnouncement" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET BOARD_LIKE = BOARD_LIKE + 1
		WHERE BOARD_NO = #{board_no}
	</update>


	<update id="unlikeAnnouncement" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET BOARD_LIKE = BOARD_LIKE - 1
		WHERE BOARD_NO = #{board_no}
	</update>

	<update id="setDelete" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET USE_YN
		= 'N'
		WHERE BOARD_NO = #{board_no}
	</update>

	<update id="setUpdate" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET
		BOARD_CONTENT = #{board_content}
		WHERE
		BOARD_NO=#{board_no}
	</update>


	<select id="getTotalAnnouncementCount" resultType="Long">
		SELECT
		COUNT(*) FROM BOARD_BASE WHERE
		BOARD_TYPE = 'A'
	</select>

	<select id="hasLiked" resultType="LikeVO">
		SELECT BOARD_NO, REG_ID
		FROM
		LIKE_BASE
		WHERE BOARD_NO = #{board_no} AND REG_ID = #{reg_id}
	</select>


	<insert id="saveLike">
		INSERT INTO LIKE_BASE (BOARD_NO,
		REG_ID,MOD_ID,REG_DATE,MOD_DATE,USE_YN)
		VALUES
		(#{board_no},
		#{reg_id},#{reg_id},NOW(),NOW(),'Y')
	</insert>

	<insert id="setFileAdd" parameterType="BoardFileVO">
		INSERT INTO FILE_BASE
		(BOARD_NO,FILE_SAVENAME,FILE_ORINAME,FILE_TYPE,REG_ID,MOD_ID,REG_DATE,MOD_DATE,USE_YN)
		VALUES
		(#{board_no}, #{file_name} , #{file_oriName} , #{file_type} , #{reg_id} , #{reg_id} , NOW() , NOW(),#{use_yn})
	</insert>

	<delete id="deleteLike">
		DELETE FROM LIKE_BASE
		WHERE BOARD_NO = #{board_no} AND
		REG_ID = #{reg_id};
	</delete>

	<select id="getBoardwriter" parameterType="BoardVO"
		resultType="MemberVO">
		SELECT M.* FROM
		MEM_INFO M
		JOIN
		BOARD_BASE B
		ON M.EMP_NO =
		B.REG_ID
		WHERE B.REG_ID = #{reg_id} AND B.BOARD_NO = #{board_no}
	</select>

	<update id="increaseViews" parameterType="BoardVO">
		UPDATE BOARD_BASE
		SET
		BOARD_VIEWS = BOARD_VIEWS + 1
		WHERE BOARD_NO = #{board_no}
	</update>

	<select id="getLastestBoard" parameterType="BoardVO">
		SELECT * FROM
		BOARD_BASE
		WHERE REG_ID = #{reg_id}
		ORDER BY BOARD_NO DESC LIMIT 1
	</select>
	<update id="deleteFile" parameterType="Long">
		UPDATE FILE_BASE
		SET USE_YN = 'N'
		WHERE FILE_NO = #{fileNo}
	</update>
	<select id="checkLike" parameterType="LikeVO" resultType="LikeVO">
		SELECT * FROM 
		LIKE_BASE WHERE 
		BOARD_NO = #{board_no} AND REG_ID=#{reg_id}
	</select>


</mapper>