<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.lib.fin.board.announcement.AnnouncementDAO">
	<sql id="searchSql">
		WHERE 1 =1
		<choose>
			<when test="searchFlag=='W'">
				AND REG_ID LIKE '%'||#{emp_no}||'%'
			</when>

			<when test="searchFlag=='N'">
				AND BOARD_TITLE LIKE '%'||#{board_title}||'%'
			</when>

			<otherwise>
				AND BOARD_NO LIKE '%'||#{board_no}||'%'
			</otherwise>
		</choose>
	</sql>

	<select id="getList" resultType="AnnouncementVO">
		SELECT * FROM BOARD_BASE WHERE
		USE_YN = 'Y' AND BOARD_TYPE = 'A'
		ORDER BY BOARD_NO DESC
	</select>
	<insert id="addWriting" parameterType="AnnouncementVO">
		INSERT INTO BOARD_BASE
		(BOARD_TITLE,BOARD_CONTENT,BOARD_TYPE,BOARD_KIND,BOARD_VIEWS,BOARD_LIKE,REG_ID,MOD_ID,REG_DATE,MOD_DATE,USE_YN)
		VALUES
		(#{board_title},#{board_content},'A','C',0,0,#{board_writer},#{board_writer},NOW(),NOW(),'Y')
	</insert>

	<select id="getDetail">
		SELECT * FROM BOARD_BASE WHERE BOARD_NO = #{board_no}
	</select>

	<insert id="addComment" parameterType="CommentVO">
		INSERT INTO COMMENT_BASE
		(BOARD_NO, COMMENT_CONTENT, REG_ID, MOD_ID,
		REG_DATE, MOD_DATE, USE_YN)
		VALUES (#{board_no}, #{comment_content}, #{reg_id}, #{reg_id}, NOW(),
		NOW(),'Y')
	</insert>

	<select id="getComments" parameterType="Long"
		resultType="CommentVO">
		SELECT * FROM COMMENT_BASE WHERE BOARD_NO = #{board_no}
		ORDER BY COMMENT_NO DESC
	</select>

	<update id="likeAnnouncement" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET BOARD_LIKE = BOARD_LIKE + 1
		WHERE BOARD_NO = #{board_no}
	</update>

	<!-- 예제: 게시글 좋아요 수 감소 -->
	<update id="unlikeAnnouncement" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET BOARD_LIKE = BOARD_LIKE - 1
		WHERE BOARD_NO = #{board_no}
	</update>

	<update id="setDelete" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET USE_YN
		= 'N'
		WHERE BOARD_NO = #{board_no}
	</update>

	<update id="setUpdate" parameterType="AnnouncementVO">
		UPDATE BOARD_BASE
		SET
		BOARD_CONTENT = #{board_content}
		WHERE
		BOARD_NO=#{board_no}
	</update>

<select id="getPaginatedList" resultType="AnnouncementVO" parameterType="map">
    SELECT * FROM BOARD_BASE WHERE BOARD_TYPE = 'A' AND USE_YN = 'Y'
    <if test="search != null and kind != null">
        <choose>
            <when test='kind == "W"'>
                AND BOARD_WRITER LIKE '%'||#{search}||'%'
            </when>
            <when test='kind == "N"'>
                AND BOARD_TITLE LIKE '%'||#{search}||'%'
            </when>
        </choose>
    </if>
    ORDER BY BOARD_NO DESC
    LIMIT #{startRow}, #{pageSize}
</select>

	
	<select id="getTotalAnnouncementCount" resultType="Long">
		SELECT
		COUNT(*) FROM BOARD_BASE WHERE
		BOARD_TYPE = 'A'
	</select>

</mapper>