<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lib.fin.attendance.AttendanceDAO">
	<select id="getStatus" parameterType="Map" resultType="AttendanceVO">
	<![CDATA[
		SELECT *
			FROM ATTENDANCE_BASE
		WHERE ATTENDANCE_DATE BETWEEN #{start_date} AND #{end_date}
	]]>
	</select>
	
	<select id="getAttendance" parameterType="Map" resultType="AttendanceVO">
		SELECT *
			FROM ATTENDANCE_BASE
		WHERE
			EMP_NO = #{emp_no} AND
			DATE_FORMAT(ATTENDANCE_DATE, '%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d') 
	</select>
	
	<select id="getLeaveWorkWhether" parameterType="String" resultType="int">
		SELECT COUNT(ATD_NO)
			FROM ATTENDANCE_BASE
		WHERE EMP_NO = #{value} AND LW_TIME IS NULL
	</select>
	
	<insert id="setGoWork" parameterType="AttendanceVO">
		INSERT INTO ATTENDANCE_BASE
		VALUES(NULL, #{emp_no}, #{attendanceStart}, NULL, #{reg_id}, #{reg_date}, #{mod_id}, #{mod_date}, #{use_yn}, #{attendanceDate})
	</insert>
	
	<update id="setLeaveWork" parameterType="AttendanceVO">
		UPDATE ATTENDANCE SET
		LW_TIME = #{lw_time}, MOD_ID = #{mod_id}, MOD_DATE = #{mod_date}
		WHERE EMP_NO = #{emp_no} AND LW_TIME IS NULL 
	</update>
</mapper>