<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lib.fin.attendance.AttendanceDAO">

<insert id="insertStartWork">
		insert into 
			ATTENDANCE_BASE 
		values(
			0,
			#{emp_NO},
			now(),
			null,
			#{emp_no},
			sysdate(),
			#{emp_no},
			sysdate(),
			'Y',
			'정상',
			0,
			0
			)
	</insert>
	<select id="checkWorkTime">
	select 
	count(*) from ATTENDANCE_BASE 
	where emp_no = #{emp_no} AND reg_date = #{time}
	</select>
	<update id="updateEndWork" parameterType="AttendanceVO">
	update ATTENDANCE_BASE set
	 lw_time = now(), status = '업무종료',mod_date= sysdate(),mod_id=#{emp_no} 
	 where emp_no = #{emp_no} AND reg_date = #{time}
	</update>
<update id="updateStartWork">
		update
			ATTENDANCE_BASE
		set
			gtw_time = default
		where
			emp_no = #{emp_no}
			and TRUNC(reg_date) = TO_DATE(#{time})
	</update>
	<update id="updateEndWork">
		update ATTENDANCE_BASE set lw_time = now(), status = '업무종료',mod_date= sysdate(),mod_id=#{emp_no} where emp_no = #{emp_no} AND #{reg_date} = sysdate()
	</update>
	<update id="updateDayWorkTime">
		update
			ATTENDANCE_BASE
		set
			dayWorkTime = #{daytime},
			overtime = #{overtime}
		where
			emp_no = #{emp_no}
			and TRUNC(reg_date) = TO_DATE(#{time})
	</update>
	
	<update id="updateDayWorkTimeHalf">
	    update ATTENDANCE_BASE
	    set
	        dayWorkTime = 
	            <choose><!-- 먼약 근무시간 + 4시간이 8시간보다 크면 연장시간을 추가 -->
	                <when test="daytime + 14400000 > 28800000">28800000</when> 
	                <otherwise>#{daytime + 14400000}</otherwise>
	            </choose>,
	        overtime = 
	            <choose>
	                <when test="daytime + 14400000 > 28800000">#{daytime + 14400000 - 28800000}</when>
	                <otherwise>#{overtime}</otherwise>
	            </choose>
	    where
	        emp_no = #{emp_no} AND TRUNC(reg_date) = TO_DATE(#{time})
	</update>
	

</mapper>
