<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.fin.book.BookDAO">
  <insert id="setBookAdd" parameterType="BookVO">
		INSERT INTO BOOK_BASE 
		values(0, #{book_author}, #{book_publisher}, #{reg_id}, sysdate(), #{mod_id}, sysdate(), 'Y',#{book_name});
   </insert>
   
   <select id="getBooklist" parameterType="Pager" resultType="BookVO">
   		SELECT * FROM BOOK_BASE
   		WHERE USE_YN='Y'
   		ORDER BY BOOK_NO DESC
   </select>
   
   <select id="getTotal" resultType="Long" parameterType="Pager">
	   SELECT COUNT(*) FROM BOOK_BASE
   </select>
   
   <update id="setBookDelete" parameterType="BookVO">
   			UPDATE BOOK_BASE SET
   			USE_YN='N'
   			WHERE BOOK_NO=#{book_no}
   </update>
   
   <select id="getPaginatiedList" resultType="BookVO" parameterType="map">
	   SELECT * FROM BOOK_BASE WHERE USE_YN = 'Y'
	   ORDER BY BOOK_NO
	   LIMIT #{startRow}, #{pageSize}
   </select>
   <select id="getTotalBookCount" resultType="Long">
	   SELECT
	   COUNT(*) FROM BOOK_BASE WHERE USE_YN='Y'
   </select>
   </mapper>