<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lib.fin.member.DeptDAO">
  
  	<!-- file add -->
  	<select  id="getDeptInfo" resultType="Map">
  		
  		select cd_nm
  		from ST_STD_CD
  		where grp_cd = 'T001'
  		order by cd asc
  		
  	</select>
  	
  	<select id="getEmpInfo" parameterType="String" resultType="DeptVO">
  	
  	select mi.NAME,mi.emp_no,(
	select cd_nm 
	from ST_STD_CD 
	where grp_cd='T001' and cd = mi.emp_team) as EMP_TEAM,
	(
	select cd_nm 
	from ST_STD_CD 
	where grp_cd='L001' and cd = mi.EMP_POSITION) as EMP_POSITION
	from MEM_INFO mi
	where mi.EMP_TEAM = #{emp_team}
	order by emp_position desc;
  	
  	</select>
  	
  </mapper>