<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.fin.member.MemberDAO">


	
	<!-- <insert id="memJoin" parameterType="MemberVO">
    INSERT INTO MEM_INFO (EMP_NO, PW, NAME, EMAIL, BIRTH, PHONE, EMP_TEAM_NO, EMP_POSITION_NO, REMAIN_HOLIDAY, AUTHORITY, EMP_IN_DATE, EMP_OUT_DATE, REG_DATE, REG_ID, MOD_DATE, MOD_ID, USE_YN)
    VALUES (CONCAT(DATE_FORMAT(SYSDATE(), '%Y%m%d'), NEXT VALUE FOR EMP_SEQ), #{password}, #{name}, #{email}, #{birth}, #{phone}, #{emp_team_no}, #{emp_position_no}, #{remain_holiday}, USER, #{emp_in_date}, #{emp_out_date}, #{reg_date}, #{reg_id}, #{mod_date}, #{mod_id}, #{use_yn});
	</insert> > -->
	
<!-- 	<insert id="memJoin" parameterType="MemberVO">
    INSERT INTO MEM_INFO (EMP_NO, PW, NAME, EMAIL, BIRTH, PHONE, EMP_TEAM_NO, EMP_POSITION_NO, REMAIN_HOLIDAY, AUTHORITY, EMP_IN_DATE, EMP_OUT_DATE, REG_DATE, REG_ID, MOD_DATE, MOD_ID, USE_YN)
    VALUES  (CONCAT(DATE_FORMAT(SYSDATE(), '%Y%m%d'), LPAD(NEXTVAL FOR EMP_SEQ, 3, '0')), #{password}, #{name}, #{email}, #{birth}, #{phone}, #{emp_team_no}, #{emp_position_no}, "15", "USER", #{emp_in_date}, #{emp_out_date}, SYSDATE(), CONCAT(DATE_FORMAT(SYSDATE(), '%Y%m%d'), LPAD(NEXTVAL FOR EMP_SEQ, 3, '0')), SYSDATE(), CONCAT(DATE_FORMAT(SYSDATE(), '%Y%m%d'), LPAD(NEXTVAL FOR EMP_SEQ, 3, '0')),"y");
	</insert> -->  
	

	<insert id="memJoin" parameterType="MemberVO">
	INSERT INTO MEM_INFO (EMP_NO, PW, NAME, EMAIL, BIRTH, PHONE, EMP_TEAM, EMP_POSITION, REMAIN_HOLIDAY, AUTHORITY, EMP_IN_DATE, EMP_OUT_DATE, REG_DATE, REG_ID, MOD_DATE, MOD_ID, USE_YN)
   	VALUES  (#{emp_no},#{password}, #{name}, #{email}, #{birth}, #{phone}, #{emp_team}, #{emp_position}, "15", "USER", #{emp_in_date}, #{emp_out_date}, SYSDATE(), #{emp_no}, SYSDATE(),#{emp_no},"y"); 
   	</insert>


	


</mapper>
