<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lib.fin.schedule.ScheduleDAO">
  <insert id="setScheduleAdd" parameterType="ScheduleVO">
		INSERT INTO SCHEDULE_BASE 
		values(0, #{emp_no}, #{schedule_start_time}, #{schedule_end_time}, #{schedule_contents}, #{schedule_title}, #{emp_no}, #{emp_no}, sysdate(), sysdate(), 'Y', #{grp_cd}, #{cd});
   </insert>
   
   <select id="getScheduleList" resultType="Map">
   		SELECT SCHEDULE_TITLE as title
	   		,to_char(SCHEDULE_START_TIME,'yyyy-mm-dd') as start
	   		,to_char(SCHEDULE_END_TIME,'yyyy-mm-dd') as end
	    FROM SCHEDULE_BASE
   		WHERE USE_YN='Y'
	   		AND EMP_NO = #{EMP_NO}
   </select>
   
	<update id="setScheduleUpdate" parameterType="ScheduleVO">
		UPDATE SCHEDULE_BASE SET
  		EMP_NO=#{emp_no}, SCHEDULE_START_TIME=#{schedule_start_time}, SCHEDULE_END_TIME=#{schedule_end_time}, SCHEDULE_CONTENTS=#{schedule_contents}, SCHEDULE_TITLE=#{schedule_title}, SCHEDULE_KIND=#{schedule_kind},MOD_ID=#{mod_id},MOD_DATE=sysdate()
  		WHERE SCHEDULE_NO=#{schedule_no}
	</update>

	<update id="setScheduleDelete" parameterType="ScheduleVO">
			UPDATE SCHEDULE_BASE SET
			USE_YN='N'
			WHERE SCHEDULE_NO=#{schedule_no}
	</update>

	
</mapper>